.carousel {
  overflow: hidden;padding: 0;margin: 0;padding-top: 20px;
  .products-grid {
    width: 2000em;padding: 0;margin: 0;position: relative;
    li {clear: none !important;margin: 0 32px 0 0;}
    @include bp(max-width, $bp-large + 21) {
      li {margin: 0 34px 0 0;}
    }
    @include bp(max-width, $bp-medium) {
      li {margin: 0 39px 0 0;}
    }
    @include bp(max-width, $bp-small + 41) {
      li {margin: 0 52px 0 0;}
    }
  }
}
.carousel-wrapper {
  position: relative;margin-bottom: 30px;
  .carousel-nav__prev, .carousel-nav__next {position: absolute;right: 0;top: -55px;width: 35px;height: 35px;border: 1px solid #d6d6d6;text-align: center;line-height: 26px;font-size: 20px;color: #4d4d4d}
  .carousel-nav__prev {right: 46px;}
}